@model IEnumerable<SportStore.Models.Account>

@* @{
    ViewData["Title"] = "Quản lý tài khoản";
} *@

<h1>Danh sách tài khoản</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @(item.Status == 1 ? "Đang hoạt động" : "Khóa tài khoản")
            </td>
                <td>
                    <div class="table-actions">
                        <a asp-action="Details" asp-route-id="@item.AccountId" class="btn btn-sm btn-info" title="Chi tiết">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.AccountId" class="btn btn-sm btn-primary" title="Sửa">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.AccountId" class="btn btn-sm btn-danger" title="Xóa">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
